<!-- Start: drawer Left  -->
<div class="drawer-left">
  <kendo-drawer-content>
    <div class="custom-toolbar">
      <div class="ws4">
        <button
          kendoButton
          icon="menu"
          fillMode="flat"
          (click)="drawerLeft.toggle()"
          class="button"
        ></button>
        <span><img src="assets/images/HachiLogo.png" alt="Logo" /></span>
      </div>
      <app-header
        class="header"
        (selectedNav)="getValueNav($event)"
      ></app-header>
    </div>
    <kendo-drawer-container>
      <kendo-drawer
        #drawerLeft
        class="p-kendo-drawer"
        [items]="items"
        mode="push"
        [mini]="true"
        [(expanded)]="expanded"
        [autoCollapse]="false"
        (select)="onSelect($event)"
        (expandedChange)="onExpandChange($event)"
        fillMode="flat"
      >
        <ng-template kendoDrawerItemTemplate let-item>
          <div class="d-flex_column wrapper-sidebar-items" style="width: 100%">
            <div class="title-menu d-flex">
              <img
                src="assets/images/{{ item.icon }}"
                alt="icon"
                style="margin: 0 10px"
              />
              <div
                class="item-descr-wrap d-flex_between"
                *ngIf="expanded"
                style="user-select: none"
              >
                {{ item.text }}
                <div
                  *ngIf="item.child !== undefined"
                  class="wapper-chevron"
                  (click)="toggleChildren()"
                >
                  <img
                    *ngIf="item.child !== undefined"
                    src="assets/images/chevron-down.svg"
                    alt="icon"
                    style="fill: #fff"
                  />
                </div>
              </div>
            </div>
            <div *ngIf="showChildren" class="wrapper-child">
              <div
                class="child"
                *ngIf="selectedItem == item.id && item.child !== undefined"
              >
                <kendo-buttongroup
                  selection="single"
                  [style.width.%]="100"
                  class="d-flex_column"
                >
                  <button
                    class="btnChild"
                    *ngFor="let i of item.child"
                    kendoButton
                    [toggleable]="true"
                    [themeColor]="'base'"
                    routerLink="/{{ i.path }}"
                  >
                    {{ i.text }}
                  </button>
                </kendo-buttongroup>
              </div>
            </div>
          </div>
        </ng-template>
      </kendo-drawer>

      <kendo-drawer-content>
        <div id="wrapper-content">
          <router-outlet></router-outlet>
        </div>
      </kendo-drawer-content>
    </kendo-drawer-container>
  </kendo-drawer-content>
</div>
<!-- End: drawer left  -->
