<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<div class="Drawer-right">
  <kendo-drawer-container>
    <kendo-drawer
      #drawerRight
      mode="overlay"
      [(expanded)]="expandedRight"
      fillMode="flat"
      [position]="'end'"
    >
      <ng-template kendoDrawerTemplate>
        <div class="wrapper-drawer-right">
          <div class="header-drawer-right">
            <h3>THÔNG TIN ĐIỂM LÀM VIỆC</h3>
          </div>
          <hr />
          <div class="content-drawer-right">
            <kendo-label class="k-form" text="Tên điểm làm việc" [for]="input">
              <input
                #input
                [style.width.%]="100"
                kendoTextBox
                [(value)]="TreeListDto.LocationName"
              />
            </kendo-label>

            <div class="d-flex_between col-gap mt-10">
              <kendo-label class="k-form" text="Mã điểm làm việc" [for]="input">
                <input
                  #input
                  [style.width.%]="100"
                  kendoTextBox
                  [(value)]="TreeListDto.LocationID"
                />
              </kendo-label>
              <kendo-label class="k-form" text="Tên viết tắt" [for]="input">
                <input
                  #input
                  [style.width.%]="100"
                  kendoTextBox
                  [(value)]="TreeListDto.Brieft"
                />
              </kendo-label>
            </div>

            <kendo-label class="k-form mt-10 d-block" text="Trực thuộc">
              <kendo-dropdownlist
                defaultItem="Văn phòng"
                [style.width.px]="200"
                fillMode="flat"
              ></kendo-dropdownlist>
            </kendo-label>

            <kendo-label
              class="k-form mt-10 d-block"
              text="Địa chỉ liên hệ"
              [for]="input"
            >
              <input
                #input
                [style.width.%]="100"
                kendoTextBox
                [(value)]="TreeListDto.Address"
              />
            </kendo-label>

            <kendo-label class="k-form mt-10 d-block" text="Tỉnh thành">
              <kendo-dropdownlist
                [style.width.px]="200"
                fillMode="flat"
                [data]="provinces"
                [(ngModel)]="selectedProvinces"
                textField="text"
                valueField="id"
              ></kendo-dropdownlist>
            </kendo-label>

            <kendo-label class="k-form mt-10 d-block" text="Quận/huyện">
              <kendo-dropdownlist
                [style.width.px]="200"
                fillMode="flat"
                [data]="districts"
                [(ngModel)]="selectedDistricts"
                textField="text"
                valueField="id"
              ></kendo-dropdownlist>
            </kendo-label>

            <kendo-label class="k-form mt-10 d-block" text="Phường/xã">
              <kendo-dropdownlist
                [style.width.px]="200"
                fillMode="flat"
                [data]="wards"
                [(ngModel)]="selectedWards"
                textField="text"
                valueField="id"
              ></kendo-dropdownlist>
            </kendo-label>

            <kendo-label class="k-form mt-10 d-block" text="Mô tả">
              <textarea
                kendoTextArea
                [style.width.%]="100"
                [style.minHeight.px]="86"
                [autoSize]="true"
              >
              </textarea>
            </kendo-label>

            <kendo-label class="k-form mt-10 d-block" text="Tình trạng">
              <kendo-dropdownlist
                [(ngModel)]="selectedItemStatus"
                [style.width.px]="200"
                fillMode="flat"
                [data]="itemsStatus"
                textField="text"
                valueField="value"
              ></kendo-dropdownlist>
            </kendo-label>
          </div>
          <div class="footer-drawer-right d-flex col-gap">
            <button (click)="drawerRight.toggle()" kendoButton>ĐÓNG</button>
            <button
              (click)="drawerRight.toggle()"
              kendoButton
              [themeColor]="'primary'"
            >
              CẬP NHẬT
            </button>
          </div>
        </div>
      </ng-template>
    </kendo-drawer>

    <kendo-drawer-content style="width: 100%">
      <div class="wrapper">
        <app-header-query-data>
          <button class="btn-left_header-query">Xóa bộ lọc</button>
          <button
            class="content-data-right"
            *ngFor="let button of buttonsForHeaderQueryData"
            kendoButton
            [toggleable]="true"
            [selected]="button.selected"
            imageUrl="{{ button.imageUrl }}"
            [style.width.px]="button.width"
            [style.height.px]="button.height"
            [themeColor]="button.color"
            (click)="Openedpopup(button.text)"
          >
            {{ button.text }}
          </button>
        </app-header-query-data>

        <kendo-treelist
          [kendoTreeListFlatBinding]="rootData"
          [fetchChildren]="fetchChildren"
          [hasChildren]="hasChildren"
          [height]="516.391"
          idField="Code"
          parentIdField="ParentID"
          [selectable]="settingsTreeList"
          kendoTreeListSelectable
          kendoTreeListExpandable
          [initiallyExpanded]="true"
          [(selectedItems)]="selectedTreeList"
        >
          <kendo-treelist-column [expandable]="true" class="d-flex">
            <ng-template kendoTreeListCellTemplate let-dataItem>
              <div
                (click)="getValueSelectedTreeList(dataItem)"
                style="width: 100%; height: 100%; display: flex"
              >
                <div class="Location--title">
                  <div class="Location--title_left">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>{{ dataItem.LocationName }}</span>
                  </div>
                  <span class="Location--right">{{ dataItem.LocationID }}</span>
                </div>
              </div>
            </ng-template>
          </kendo-treelist-column>
          <kendo-treelist-column [width]="50">
            <ng-template kendoTreeListCellTemplate let-dataItem>
              <div class="Location-tool tool">
                <kendo-dropdownbutton
                  class="DropDownButton"
                  iconClass="fa-solid fa-ellipsis"
                  [data]="OptionTool"
                  [popupSettings]="{
                    animate: animate,
                    popupClass: popupClass,
                    appendTo: 'component',
                    align: 'right'
                  }"
                  (itemClick)="HandelOpenEdit($event, dataItem)"
                >
                </kendo-dropdownbutton>
              </div>
            </ng-template>
          </kendo-treelist-column>
        </kendo-treelist>
      </div>
    </kendo-drawer-content>
  </kendo-drawer-container>
</div>
