<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<div class="Drawer-right">
  <kendo-drawer-container>
    <kendo-drawer
      #drawerRight
      mode="overlay"
      [(expanded)]="expandedRight"
      fillMode="flat"
      [position]="'end'"
    >
      <ng-template kendoDrawerTemplate>
        <div class="wrapper-drawer-right">
          <div class="header-drawer-right">
            <h3>{{ titleDrawer }}</h3>
          </div>
          <hr />
          <div class="content-drawer-right">
            <kendo-label
              *ngIf="
                StatusToggleDrawer == 'Thêm mới đơn vị' ||
                StatusToggleDrawer == 'Thêm mới đơn vị con'
              "
              class="k-form"
              text="Tên đơn vị"
              [for]="input"
            >
              <input
                #input
                [style.width.%]="100"
                kendoTextBox
                [(value)]="DtoDepartment.Department"
              />
            </kendo-label>

            <kendo-label
              *ngIf="StatusToggleDrawer == 'Thêm mới chức danh'"
              class="k-form"
              text="Tên chức danh"
              [for]="input"
            >
              <input
                #input
                [style.width.%]="100"
                kendoTextBox
                [(value)]="DtoPosition.Position"
              />
            </kendo-label>

            <div class="d-flex_between col-gap mt-10">
              <kendo-label
                *ngIf="
                  StatusToggleDrawer == 'Thêm mới đơn vị' ||
                  StatusToggleDrawer == 'Thêm mới đơn vị con'
                "
                class="k-form"
                text="Mã đơn vị"
                [for]="input"
              >
                <input
                  #input
                  [style.width.%]="100"
                  kendoTextBox
                  [(value)]="DtoDepartment.DepartmentID"
                />
              </kendo-label>

              <kendo-label
                *ngIf="
                  StatusToggleDrawer == 'Thêm mới đơn vị' ||
                  StatusToggleDrawer == 'Thêm mới đơn vị con'
                "
                class="k-form"
                text="Tên viết tắt"
                [for]="input"
              >
                <input
                  #input
                  [style.width.%]="100"
                  kendoTextBox
                  [(value)]="DtoDepartment.Brieft"
                />
              </kendo-label>
              <kendo-label
                *ngIf="StatusToggleDrawer == 'Thêm mới chức danh'"
                class="k-form"
                text="Mã chức danh"
                [for]="input"
              >
                <input
                  #input
                  [style.width.%]="100"
                  kendoTextBox
                  [(value)]="DtoPosition.PositionID"
                />
              </kendo-label>
              <div
                class="d-flex"
                *ngIf="StatusToggleDrawer == 'Thêm mới chức danh'"
              >
                <input
                  type="checkbox"
                  #notification
                  kendoCheckBox
                  style="margin: 0"
                  [(value)]="DtoPosition.IsLeader"
                />
                <kendo-label
                  class="k-checkbox-label"
                  [for]="notification"
                  text="Là trưởng đơn vị"
                >
                </kendo-label>
              </div>
            </div>

            <kendo-label class="k-form mt-10 d-block" text="Đơn vị trực thuộc">
              <kendo-dropdownlist
                defaultItem="Ban giám đốc"
                [style.width.px]="200"
                fillMode="flat"
              ></kendo-dropdownlist>
            </kendo-label>

            <kendo-label
              *ngIf="StatusToggleDrawer == 'Thêm mới chức danh'"
              class="k-form mt-10 d-block"
              text="Đơn vị trực thuộc"
            >
              <kendo-dropdownlist
                [style.width.px]="200"
                fillMode="flat"
              ></kendo-dropdownlist>
            </kendo-label>

            <kendo-label
              *ngIf="
                StatusToggleDrawer == 'Thêm mới đơn vị' ||
                StatusToggleDrawer == 'Thêm mới đơn vị con'
              "
              class="k-form mt-10 d-block"
              text="Điện thoại"
              [for]="input"
              [style.width.px]="228"
            >
              <input
                #input
                [style.width.%]="100"
                kendoTextBox
                [(value)]="DtoDepartment.Phone"
              />
            </kendo-label>

            <kendo-label
              class="k-form mt-10 d-block"
              text="Phân nhóm"
              *ngIf="StatusToggleDrawer == 'Thêm mới chức danh'"
            >
              <kendo-dropdownlist
                defaultItem="Quản lý cấp cao"
                [style.width.px]="145"
                fillMode="flat"
              ></kendo-dropdownlist>
            </kendo-label>

            <kendo-label
              *ngIf="
                StatusToggleDrawer == 'Thêm mới đơn vị' ||
                StatusToggleDrawer == 'Thêm mới đơn vị con'
              "
              class="k-form mt-10 d-block"
              text="Fax"
              [for]="input"
              [style.width.px]="228"
            >
              <input
                #input
                [style.width.%]="100"
                kendoTextBox
                value="+84 8 2345 2341"
                [(value)]="DtoDepartment.Phone"
              />
            </kendo-label>

            <kendo-label class="k-form mt-10 d-block" text="Mô tả">
              <textarea
                kendoTextArea
                [style.width.%]="100"
                [style.minHeight.px]="86"
                [autoSize]="true"
                [(value)]="DtoDepartment.Remark"
              >
              </textarea>
            </kendo-label>

            <kendo-label class="k-form mt-10 d-block" text="Tình trạng">
              <kendo-dropdownlist
                defaultItem="Đang áp dụng"
                [style.width.px]="200"
                fillMode="flat"
                [data]="itemsStatus"
              ></kendo-dropdownlist>
            </kendo-label>
          </div>
          <div class="footer-drawer-right d-flex col-gap">
            <button kendoButton (click)="drawerRight.toggle()">ĐÓNG</button>
            <button
              (click)="drawerRight.toggle()"
              kendoButton
              [themeColor]="'primary'"
              *ngIf="
                StatusToggleDrawer == 'Thêm mới đơn vị' ||
                  StatusToggleDrawer == 'Thêm mới đơn vị con' ||
                  StatusToggleDrawer == 'Thêm mới chức danh';
                else elseAddProduct
              "
            >
              THÊM MỚI
            </button>
            <ng-template #elseAddProduct>
              <button
                class="update"
                kendoButton
                [themeColor]="'primary'"
                (click)="drawerRight.toggle()"
                [style.width]="'auto'"
              >
                CẬP NHẬT
              </button>
            </ng-template>
          </div>
        </div>
      </ng-template>
    </kendo-drawer>

    <kendo-drawer-content style="width: 100%">
      <div class="wrapper">
        <app-header-query-data>
          <button class="btn-left_header-query">Xóa bộ lọc</button>
          <button
            class="content-data-right"
            *ngFor="let button of buttonsForHeaderQueryData"
            kendoButton
            [toggleable]="true"
            [selected]="button.selected"
            imageUrl="{{ button.imageUrl }}"
            [style.width.px]="button.width"
            [style.height.px]="button.height"
            [themeColor]="button.color"
            (click)="Openedpopup(button.text)"
          >
            {{ button.text }}
          </button>
        </app-header-query-data>

        <kendo-treelist
          [kendoTreeListFlatBinding]="rootData"
          [fetchChildren]="fetchChildren"
          [hasChildren]="hasChildren"
          [height]="516.391"
          [selectable]="settingsTreeList"
          kendoTreeListSelectable
          kendoTreeListExpandable
          [initiallyExpanded]="true"
          [(selectedItems)]="selectedTreeList"
        >
          <kendo-treelist-column [expandable]="true" class="d-flex">
            <ng-template kendoTreeListCellTemplate let-dataItem>
              <div
                (click)="
                  getValueSelectedTreeList(dataItem, dataItem.ListPosition)
                "
                [style]="{
                  display: 'flex',
                  width: '100%',
                  'align-items': 'center',
                  height: '100%'
                }"
              >
                <kendo-gridlayout
                  [cols]="['auto', 'auto']"
                  [gap]="{ cols: 142 }"
                >
                  <kendo-gridlayout-item>
                    <div>
                      <div class="treelist--title">
                        <div class="treelist--title_left">
                          <div
                            *ngIf="dataItem.Department"
                            class="img-uflow"
                          ></div>
                          <div *ngIf="dataItem.Position" class="img-user"></div>
                          <span class="title-content">{{
                            dataItem.Department || dataItem.Position
                          }}</span>
                        </div>
                        <span
                          class="treelist--right"
                          *ngIf="
                            checkTypeOfValue(dataItem.DepartmentID, 'string')
                          "
                        >
                          {{ dataItem.DepartmentID }}
                        </span>
                        <span class="treelist--right" #position>
                          {{ dataItem.PositionID }}
                        </span>
                      </div>
                    </div>
                  </kendo-gridlayout-item>
                  <kendo-gridlayout-item class="box rect">
                    <span *ngIf="dataItem.IsLeader">Trưởng đơn vị</span>
                  </kendo-gridlayout-item>
                </kendo-gridlayout>
              </div>
            </ng-template>
          </kendo-treelist-column>

          <kendo-treelist-column [width]="50">
            <ng-template kendoTreeListCellTemplate let-dataItem>
              <div class="treelist-tool tool">
                <kendo-dropdownbutton
                  class="DropDownButton"
                  iconClass="fa-solid fa-ellipsis"
                  [data]="OptionTool"
                  [popupSettings]="{
                    animate: animate,
                    popupClass: popupClass,
                    appendTo: 'component',
                    align: 'right'
                  }"
                  (itemClick)="Openedpopup($event)"
                  (click)="
                    getValueSelectedTreeList(dataItem, dataItem.ListPosition)
                  "
                >
                </kendo-dropdownbutton>
              </div>
            </ng-template>
          </kendo-treelist-column>
        </kendo-treelist>
      </div>
    </kendo-drawer-content>
  </kendo-drawer-container>
</div>
