$primary: #008000;
$kendo-color-primary: $primary;
$kendo-checkbox-border: $primary;
$primaryERP-color: rgba(26, 102, 52);
$primaryErp-selected-color: rgba(26, 102, 52, 0.8);
$primaryErp-hover-color: rgba(26, 102, 52, 0.4);
$primaryText: #5a6276;
$dark-grey: #26282e;
$white: #fff;
$secondary: #5a6276;
$dark-blue: #1a2334;
$body-color: #e5e5e5;
$icon-color: #959db3;
